<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.BoardMapper">

    <cache />

    <select id="getBoardList" resultType="Board">
        SELECT
            bnum ,
            userid,
            title,
            date
        FROM BOARD
    </select>

    <select id="getBoardByBnum" resultType="Board">
        SELECT
            bnum ,
            userid,
            title,
            date,
            content
        FROM BOARD
        WHERE bnum=#{boardId}
    </select>

    <select id="getNewBoard" resultType="Board">
        SELECT
            bnum ,
            userid,
            title,
            date,
            content
        FROM BOARD
        WHERE userid=#{userId}
        ORDER BY bnum DESC LIMIT 1
    </select>

    <select id="getUpdateBoard" resultType="Board">
        SELECT
            bnum ,
            userid,
            title,
            date,
            content
        FROM BOARD
        WHERE bnum=#{boardId}
    </select>

    <update id="updateBoard" parameterType="Board">
        UPDATE
            BOARD
        SET
            title=#{title},
            content=#{content}
        WHERE
            bnum=#{bnum}
    </update>

    <insert id="insertBoard" parameterType="Board">
        INSERT INTO board
            (bnum, userid,title,date,content)
        VALUES (#{bnum},#{userId},#{title},NOW(),#{content})
    </insert>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM BOARD
        WHERE bnum=#{boardId}
    </delete>

    <select id="getBoardListByPage" resultType="Board">
        SELECT
            bnum ,
            userid,
            title,
            date
        FROM BOARD
        ORDER BY bnum
        LIMIT #{page},10
    </select>


</mapper>