<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2010-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.UserSalesMapper">
    <cache />

    <select id="getSalesListAll" resultType="UserSale">
        SELECT
            *
        FROM usersale
    </select>

    <select id="getSalesList" resultType="UserSale">
        SELECT
            *
        FROM usersale
        WHERE SCATEGORY LIKE #{param1} AND
              SCHARGE LIKE #{param2} AND
              SDESC LIKE #{param4}
        ORDER BY
            CASE WHEN #{param3} = 0 THEN sid END ASC,
            CASE WHEN #{param3} = 1 THEN sid END DESC
    </select>

    <insert id="insertSale" parameterType="UserSale">
        INSERT INTO usersale(sid, suserid, scategory, sdesc, sgender, sage, scharge, sprice, sarea, simg1, simg2, simg3, sstatus, snote,date)
            values(#{sid}, #{suserid}, #{scategory}, #{sdesc}, #{sgender}, #{sage}, #{scharge}, #{sprice}, #{sarea}, '1','1','1',1,#{snote},NOW())
    </insert>

    <select id="getSaleInfo" resultType="UserSale">
        SELECT * from usersale where sid = #{asid}
    </select>

    <select id="getSales" resultType="UserSale">
        SELECT * from usersale where sid = #{sid}
    </select>

    <select id="getSalesRecent" resultType="UserSale">
        SELECT * from usersale where sid = (SELECT MAX(sid) from usersale)
    </select>

    <delete id="deleteSales" parameterType="int">
        DELETE FROM usersale
        WHERE sid = #{sid}
    </delete>

    <insert id="insertAdopt" parameterType="UserAdopt">
        INSERT INTO useradopt
            VALUES(#{aid},#{asid},#{auserid},#{aarea},#{asalary},#{ahome},#{afamnum},#{apets},#{apetexp},#{anote},2,NOW())
    </insert>

    <delete id="deleteAdopt" parameterType="int">
        DELETE FROM useradopt
        WHERE aid = #{aid}
    </delete>

    <select id="getAdoptRecent" resultType="UserAdopt">
        SELECT * from useradopt where aid = (SELECT MAX(aid) from useradopt)
    </select>

    <update id="updateSales" parameterType="UserSale">
        UPDATE usersale SET
            scategory = #{scategory},
            sdesc = #{sdesc},
            sgender = #{sgender},
            sage = #{sage},
            scharge = #{scharge},
            sprice = #{sprice},
            sarea = #{sarea},
            snote = #{snote},
            sstatus = #{sstatus}
        WHERE sid = #{sid}
    </update>

    <select id="getAdoptListByUsername" resultType="UserAdopt">
        SELECT * FROM useradopt where auserid = #{username}
    </select>
    <select id="getSalesListByUsername" resultType="UserSale">
        SELECT * FROM usersale where suserid = #{username}
    </select>

    <select id="getAdopt" resultType="UserAdopt">
        SELECT * from useradopt where aid = #{aid}
    </select>
    <select id="getAdoptListBySid" resultType="UserAdopt">
        SELECT * FROM useradopt where asid = #{sid}
    </select>

    <update id="acceptAdopt" parameterType="int">
        UPDATE useradopt SET
        astatus = 1
        WHERE aid = #{aid}
    </update>
    <update id="refusalAdopt" parameterType="int">
        UPDATE useradopt SET
            astatus = 0
        WHERE aid = #{aid}
    </update>

    <select id="getAdoptCnt" resultType="int">
        SELECT COUNT(*) FROM useradopt where asid = #{sid}
    </select>
</mapper>